@import '../colors.module.scss';

.relatedArticles {
  text-align: left;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.relatedTitle {
  color: $color-text;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.divider {
  height: 2px;
  background: linear-gradient(to right, $color-primary, transparent);
  width: 100%;
}

.articlesGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} 