// Warm, easy-to-read color palette
$color-primary: #666638;
$color-primary-light: #F6CBA1;
$color-secondary: #f0f0eb;
$color-accent: #FFD580;
$color-background: #fefefe;
$color-surface: #f5f5f5;
$color-border-light: #E6E8F3;
$color-border: #E2B07A;
$color-text: #232225;
$color-text-light: #8C8D97;
$color-link: #232225;
$color-link-hover: #6666384D;
$color-error: #D9534F;
$color-success: #A3C76D; 